package cmd

import (
	"{{ .PkgName }}/internal"
	"fmt"
	"os"

	"github.com/jhekasoft/e-backend/models"

	eCmd "github.com/jhekasoft/e-backend/cmd"
	"github.com/spf13/cobra"
	"github.com/spf13/viper"
)

const subtitle = "{{ .PkgName }}"

var cfgFile string

// rootCmd represents the base command when called without any subcommands
var rootCmd = &cobra.Command{
	Use:   "{{ .PkgName }}",
	Short: "{{ .PkgName }}",
	Long:  eCmd.Banner(subtitle, internal.Version, internal.BuildTime),
}

// Execute adds all child commands to the root command and sets flags appropriately.
// This is called by main.main(). It only needs to happen once to the rootCmd.
func Execute() {
	err := rootCmd.Execute()
	if err != nil {
		os.Exit(1)
	}
}

func init() {
	cobra.OnInitialize(printBanner, initConfig)
	rootCmd.PersistentFlags().StringVar(&cfgFile, "config", "", "config file (default is $HOME/config.yaml)")
}

// initConfig reads in config file and ENV variables if set.
func initConfig() {
	if cfgFile != "" {
		// Use config file from the flag.
		viper.SetConfigFile(cfgFile)
	} else {
		// Find home directory.
		home, err := os.UserHomeDir()
		cobra.CheckErr(err)

		// Search config in home directory with name ".{{ .PkgName }}" (without extension)
		// and in work directory.
		viper.AddConfigPath(home)
		viper.AddConfigPath(".")
		viper.SetConfigType("yaml")
		viper.SetConfigName("config.yaml")
	}

	viper.AutomaticEnv() // read in environment variables that match

	// Defaults
	viper.SetDefault("Mode", models.AppModeProduction)
	viper.SetDefault("HTTP", models.ConfigHTTP{Port: 1988, BaseURL: "http://localhost:1988"})

	// If a config file is found, read it in.
	if err := viper.ReadInConfig(); err == nil {
		fmt.Fprintln(os.Stderr, "Using config file:", viper.ConfigFileUsed())
	}
}

func printBanner() {
	fmt.Print(eCmd.Banner(subtitle, internal.Version, internal.BuildTime) + "\n\n")
}
