package service

import (
	"e-backend-boilerplate/modules/{{ .MdlName }}/repository"
)

type Service struct {
	repo *repository.Repository
}

func NewService(repo *repository.Repository) *Service {
	return &Service{repo}
}
