//go:build {{ .MdlName }} || all
// +build {{ .MdlName }} all

package modules

import "{{ .PkgName }}/modules/{{ .MdlName }}"

func init() {
	m := {{ .MdlName }}.NewModule()
	EnabledModules = append(EnabledModules, m)
}
